bin/
obj/
tmp-build-*/

.vs/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

backend-run*.log
frontend-dev*.log
*.log

.aspnet-data-protection/

Minhchung/
wwwroot/uploads/

appsettings.Development.json
appsettings.json
